<div class="modal-header">
  <h4 class="modal-title">Editar Categoria/Producto</h4>
  <button type="button" class="close" aria-label="Close" (click)="cancelTreeProductForm()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="treeProductForm">
  <div class="modal-body">
    <div class="form-group row required">
      <div class="input-group input-group-sm col-sm-3">
        <label class="col-form-label">Cat/Prod</label>
      </div>
      <div class="col-sm-9 input-group input-group-sm input-group-rounded">
        <input type="text"
               class="form-control"
               formControlName="alm_producto_nombre" id="alm_producto_nombre" placeholder="Categoría/producto ">
      </div>
      <erpv-form-validate-errors
        [group]="treeProductForm"
        [controlName]="'alm_producto_nombre'">
      </erpv-form-validate-errors>
    </div>


    <div class="form-group row required">
      <div class="input-group input-group-sm col-sm-3">
        <label class="col-form-label">Cód. Producto</label>
      </div>
      <div class="col-sm-9 input-group input-group-sm input-group-rounded">
        <input type="text"
               class="form-control"
               formControlName="alm_producto_codigo" id="alm_producto_codigo" placeholder="Codigo del Producto">
      </div>
      <erpv-form-validate-errors
        [group]="treeProductForm"
        [controlName]="'alm_producto_codigo'">
      </erpv-form-validate-errors>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary btn-sm btn-semi-round" (click)="saveTreeProductForm()">Guardar</button>
    <button class="btn btn-danger btn-sm btn-semi-round" (click)="cancelTreeProductForm()">Cancelar</button>
  </div>
</form>

