@import '../../../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {

  nb-card-footer {
    padding-bottom: 0.25rem;

    button {
      @include nb-ltr(margin, 0 1rem 1rem 0);
      @include nb-rtl(margin, 0 0 1rem 1rem);
    }
  }

  /* stylelint-disable */
  toaster-container /deep/ {
    #toast-container .toast-close-button {
      right: 0;
    }
  }
  /* stylelint-enable */

  @include media-breakpoint-down(xs) {
    .dropdown-toggle {
      font-size: 0.75rem;
    }
  }
}




button {
  min-width: 12px;
  max-width: 120px;
  min-height: 12px;
  max-height: 30px;
  padding-top: 0.1px;
  margin-top: -5px;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 22px;
  background-color: #ff6b83;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #56fd62;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #73a1ff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark::after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark::after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark::after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
