<div class="card mb-3">
  <div class="card-header"><h5>Lista de Roles Modulos</h5></div>
  <toaster-container [toasterconfig]="config"></toaster-container>
  <div class="card-body table-responsive">
    <div class="col-lg-3">
      <form [formGroup]="filterModulForm">

        <select class="form-control form-control-sm" formControlName="module">
          <option *ngFor="let modulParent of modulParents" [value]="modulParent.seg_modulo_id">
            {{modulParent.seg_modulo_nombre}}
          </option>
        </select>

      </form>
    </div>
    <table class="table table-bordered table-sm table-hover table-striped">
      <thead>
      <tr>
        <th>Id Acceso</th>
        <th>Accesos</th>
        <th>Opciones</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let a of checklist">
        <td>{{a.id}}</td>
        <td>{{a.name}}</td>
        <td>
          <label class="container">
            <input type="checkbox" class="custom-control-input" [(ngModel)]="a.checked">
            <span class="checkmark"></span>
          </label>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="form-group row col-lg-12">
      <button class="btn btn-danger btn-sm btn-semi-round" (click)="backRolModule()">Atras</button>
      <button class="btn btn-primary btn-sm btn-semi-round" (click)="saveRolModule()">Guardar</button>
    </div>
  </div>

</div>
