.icon-button-examples {
  display: flex;
  justify-content: space-between;

  button {
    min-width: 12px;
    max-width: 12px;
    min-height: 12px;
    max-height: 25px;
    padding-top: 0.1px;
    margin-bottom: -5px;
    margin-top: -5px;
  }
}
